[Unit]
Description=GidTech BME680 Enviro-Pulse 2000
After=network-online.target autofs.service

[Service]
ExecStart=/root/environment-sensors/run_bme680_desk.zsh
WorkingDirectory=/root/environment-sensors
User=root
Group=daemon
SyslogIdentifier=bme680_desk
StandardOutput=syslog
Restart=on-failure
KillSignal=SIGINT
#Nice=10

[Install]
WantedBy=multi-user.target
